name: "Validate Gradle Wrapper"

on: [push, pull_request]

permissions: {} # lock everything by default (least-privilege)

jobs:
  validation:
    name: "Validation"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5