name: "Validate Gradle Wrapper"
on: [push, pull_request]

permissions: {} # lock everything by default (least-privilege)

jobs:
  validation:
    name: "Validation"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v1